<ion-header>
  <ion-toolbar>
    <ion-title>
      Pomodore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" align="center">
    <div class="work">
    <h1>{{ stateMessage }}</h1>
    <ion-card>
      <h1 style="text-align: center; color: black">{{ actualTask }}</h1>
    </ion-card>
    <div class="timer" id="timerWork">

    </div>  
  </div>

  <div class="pause">
    <div class="timer" id="timerPause">

    </div>    
  </div>

  <span style="align-content: center;">  
    <ion-button (click)="nextIntervall()"><ion-icon name="fastforward"></ion-icon></ion-button>
    <ion-button (click)="nextTask()"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
    <ion-button (click)="endWork()"><ion-icon name="done-all"></ion-icon></ion-button>
    <ion-button (click)="reset()"><ion-icon name="refresh"></ion-icon></ion-button>
  </span>
  </div>
</ion-content>
